.dirstamp
.libs
aclocal.m4
autoconf.h*
autom4te.cache
cfgaux
config.cache
config.status
configure
configure.lineno
libtool
Makefile
Makefile.in
stamp-h1

inilex.cc
iniparse.cc
iniparse.hh
setup_version.c
